body {
  margin: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
    width: auto;
}

#profile-picture {
  height: 75px;
  width: auto;
  border-radius: 50%;
  object-fit: cover;
}

#map {
  height: 300px;
  width: auto;
  border: 2px solid #000000;
  border-radius: 15px;
}

.scroll-y {
  border: 2px solid #000000;
  border-radius: 15px;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.password-img {
  width: 10px;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
}

thead th {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 2;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  font-size: large;
  padding: 0.5em 1em;
  text-align: left;
}

td {
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em;
}

.restaurant-list tr:hover {
  font-weight: bold;
  background-color: aqua;
}

.menu-table {
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
  font-weight: normal;
  padding: 0.5em 1em;
  text-align: left;
}

.highlight {
  background-color: aqua;
  font-weight: bolder;
}

@media (min-width: 600px) {
  .scroll-y {
    border: 2px solid #000000;
    border-radius: 15px;
    width: 600px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  #map {
    border: 2px solid #000000;
    border-radius: 15px;
    height: 300px;
    width: 600px;
  }

  nav {
    display: flex;
    justify-content: space-around;
    width: 600px;
}
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
  main {
    display: flex;
  }

  .pane-left {
    justify-content: center;
    margin-right: 1px;
  }

  .pane-right {
    justify-content: center;
    margin-left: 1px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
